/* Article specific */
article {
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6em;
	font-size: 18px;
	color: #444;
	padding: 0px 10px;
}

article h1 {
	text-align: center;
	line-height: 0.4em;
}

article h6 {
	text-align: center;
	line-height: 0em;
	font-size: 14px;
	color: #555;
}

article hr {
	width: 75%;
}

article p {
	text-indent: 2em;
	text-align: justify;
}
